<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Mohit Vashishtha. The weather application uses data from mapbox.com and weatherstack.com!</p>
            <p>The website is created using Express.JS and Node.JS</p>
            <img class="portrait" src="/img/me.png"> 
        </div>
        {{>footer}}
    </body>
</head>
</html>